@charset "UTF-8";
/* CSS Document */

html,
body {
    width: 100%;
    height: 100%; 
	position: relative;
	font-family: open-sans, sans-serif;
}
.container {
	max-width: 970px; 
	}
	
/* NAV BAR */ 
.navbar-default {
	background-color:rgba(89,123,98,0.10); 
	}
.nav.navbar-nav.navbar-right li a {
    color: #ffffff;
	font-family: montserrat, sans-serif; 
	font-style: bold; 
	font-size: 18px;
}
/*trying to change burger menu color ... will return to this ... */
/*.navbar-default .navbar-header .navbar-toggle .icon-bar {
	color: #ffffff;
	}*/
	
/*   Header / Landing page css */  
.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background:url(imgs/testBackground.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	color: #ffffff;
	text-shadow: 3px 3px 2px #93A396;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
	vertical-align: middle;
}
.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
	 color: #ffffff;
}
.about{
	padding-top: 30px; 
	}
	
/* PARTNERS SECTION logo row  */ 
.partners {
	padding-top:30px; 
	padding-bottom:50px; 
	font-size: 16px;
	color: #afaeae;
	}
.partnersItem {
	padding: 15px; 
	}
#partners img {
	padding: 10px; 
	}

/* FLEXSLIDER CSS */ 	
/* flexslider caption settings source = http://stackoverflow.com
/questions/15578312/flexslider-captions-showing-below-not-on-top-of-image*/

.flex-caption {
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    background: rgba(255,255,255,0.40);      
    z-index:1;
    padding:5px;
	color: #fff;
}
.flex-text {
	color:rgba(203,42,45,1.00); 
	bottom:250px;
    font-size: 16px;
	font-family:montserrat, sans-serif; 
    left:0;
    padding:0 20px;
	padding-left:100px;
    position:absolute;
    right:0;
    text-transform: uppercase;
	width: 75%; 
	height: auto;
	/*  line-height: 350px;*/
    /*z-index:1;*/
	}
	
/* Make the FLEXSLIDER FULL SCREEN on smartphones */
@media only screen and (max-width:320px) {
	.flex-text {
		color:#ffffff; 
		}
	/* dimensions for iphone fixed width */
	.flexslider {
		height: 480px;
		width: 200%;  
		overflow: hidden; 
		}
	.flexslider .slides img {
			height: 468px;  
			width:auto; 
			}
	.flex-active-slide {
		width: 200%; 
		}
	}

/* BENEFITS SECTION */ 
.benefits {
	color:#afaeae; 
	text-align: center; 
	}	
.benefitsList {
	list-style-type: none;
	margin:0 auto;
	padding:0; 
	}
	
/* make the phone image disappear and the list layout rearrange on small screens */ 
@media only screen and (max-width:1000px) {
	.benefitsList li {
		display:inline;
		float:left; 
		color: red; 
		}
	 .benefitsPhone {
		 display: none;
		 }
	}

/* thumbnail css */ 
.userStories{
	width: 100%;
	height: auto !important;
	background: url(imgs/fotolia_64285595.jpg) no-repeat center center scroll;
	background-size: cover;
	color:#ffffff;
	text-align: center;
	padding-top: 30px; 
	}
.userItems {
	padding-top: 80px; 
	}
footer {
	padding: 100px; 
	}


