@charset "UTF-8";
/* CSS Document */

html,
body {
    width: 100%;
    height: 100%; 
	position: relative;
	font-family: open-sans, sans-serif;
}
.container {
	max-width: 970px; 
	}
	
/* NAV BAR */
.navbar-default {
	background-color:rgba(89,123,98,0.10);
	text-transform: uppercase;
/*	padding-top: 75px; */
	}
.nav.navbar-nav.navbar-right li a {
    color: #ffffff;
	font-family: montserrat, sans-serif; 
	font-style: bold; 
	font-size: 18px;
	padding-top: 30px; 
}
.navbar-brand {

	padding-bottom: 80px; 
	}
.navbar-header {
	padding-top: -30px; 
	}
/*trying to change burger menu color ... will return to this ... */
/*.navbar-default .navbar-header .navbar-toggle .icon-bar {
	color: #ffffff;
	}*/
	
/*   Header / Landing page css */  
.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background:url(imgs/FirstPageBG.jpg) no-repeat center center scroll;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover; 
    -o-background-size: cover;
	color: #ffffff;
	}
.headText {
	position: relative;
	padding-top: 10%;
	padding-left: 20%; 
	}
.dlButton {
	position: absolute;
	padding-top: 25%;
	padding-left: 20%; 
	}
/* reposition download buttons for smaller screens */ 
@media only screen and (max-width: 900px) {
	.headText {
	position: relative;
	padding-top: 28%;
	padding-left: 20%;
	}
	.headText h2{
		font-size: 22px; 
		}
	.dlButton {
		display: block; 
		margin-bottom: 5px; 
		padding-top: 10%; 
		}
	.dlButton img {
		margin-bottom: 8px;
		}
	}	
	
.about{
	padding-top: 30px; 
	}
	
/* PARTNERS SECTION logo row  */ 
/* thumbnail css */ 
.partnerStories{
	width: 100%;
	background-color: #30b5aa; 
	color:#ffffff;
	text-align: center;
	padding-top: 30px; 
	padding-bottom: 30px; 
	font-size: 1.5em; 
	padding-bottom: 50px; 
/*	this to be used when a background image is applied */	
/*	height: auto !important;*/
	}
.partnerItems {
	padding-top: 80px; 
	}
.partners {
	padding-top:30px; 
	padding-bottom:50px; 
	font-size: 16px;
	color: #afaeae;
	}
.partnersItem {
	padding: 15px; 
	}
#partners img {
	padding: 10px; 
	}

/* USER STORIES SECTION */ 
/* PARTNERS SECTION logo row  */ 
/* thumbnail css */ 
.userStories{
	width: 100%;
	height: auto !important;
	background:url(imgs/page5Background.jpg) no-repeat center center scroll;
	background-size: cover;
	color:#ffffff;
	text-align: center;
	padding-top: 80px; 
	padding-bottom: 30px; 
	}
.userItems {
	padding-top: 85px; 
	}
.users {
	padding-top:30px; 
	padding-bottom:50px; 
	font-size: 16px;
	color: #afaeae;
	}
.usersItem {
	padding: 15px; 
	}
#userStories img {
	padding: 10px; 
	}

/* FLEXSLIDER CSS */ 	
/* flexslider caption settings source = http://stackoverflow.com
/questions/15578312/flexslider-captions-showing-below-not-on-top-of-image*/

.flex-text {
		color: #ffffff; 
		bottom:250px;
		font-size: 16px;
		font-family:montserrat, sans-serif; 
		left:0;
		padding:0 20px;
		padding-left:100px;
		position:absolute;
		right:0;
		text-transform: uppercase;
		width: 75%; 
		height: auto;
	}
	
/* Make the FLEXSLIDER FULL SCREEN on smartphones */
@media only screen and (max-width:360px) {
	/* dimensions for iphone fixed width */
	.flexslider {
		height: 480px;
		width: 200%;  
		overflow: hidden; 
		}
	.flexslider .slides img {
			height: 468px;  
			width: auto; 
			}
	.flex-active-slide {
		width: 200%; 
		}
	}

/* BENEFITS SECTION */ 
#benefits {
    background:url(imgs/page5Background.jpg) no-repeat center center scroll;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover; 
    -o-background-size: cover;
	color: #ffffff;
	padding: 80px 0 80px 0;
	font-family: monserrat, sans-serif; 
	}
#benefits h2 {
	padding-bottom: 15px; 
	}
.benefits {
	color:#FFFFFF; 
	text-align: center; 
	}	
.benefitsList {
	list-style-type: none;
	margin:0 auto;
	padding:0; 
	font-size: 20px;  
	}
.benefitsList a{
	color: #ffffff;
	}
.left {
	text-align: right;
	}
.right {
	text-align: left; 
	}
.benefitsList img {
	margin: 8px;
	}

	
/* make the phone image disappear and the list layout rearrange on small screens */ 
@media only screen and (max-width:1000px) {
	.benefitsList li {
		display:inline-block;
		}
	 .benefitsPhone {
		 display: none;
		 } 
	}
@media only screen and (min-device-width:320px) and (max-device-width : 360px) {
	.benefitsList li {
		display:inline;
		float:left; 
		font-size: 0.8em; 
		}
	 .benefitsPhone {
		 display: none;
		 }
	 .benefitsList img {
		padding-right: 20px;
		padding-left: 10px; 
		}
	  .left, .right {
		text-align: center;
	}
	}

#footer {
	padding: 100px; 
	background:url(imgs/footerBackground.jpg) center center scroll;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover; 
    -o-background-size: cover;
	color: #ffffff;
	}
.map {
	padding-top: 20px; 
	}
.form {
	padding-top: 15px; 
	}


